<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Neural Web Tool{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('sandbox') }}">Sandbox</a> |
        <a href="{{ url_for('learn') }}">Learn</a> |
        <a href="{{ url_for('about') }}">About</a> 
    </nav>

    <hr/>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
